body {

    background-color: white;

    display: flex;

    justify-content: center;

    align-items: center;
}
.left {

    position: initial;

    background-color:royalblue;

    padding: 20px;

}

.right {

    position: initial;

    background-color: #87ceeb ;

    padding: 20px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies,, 
,, .Education, {

    margin-bottom: 30px;
}

